<h1 class="mt-4">Customers</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Register</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="alert alert-success" role="alert" *ngIf="successMessage">
        {{successMessage}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="newRegister()">
        <i class="fa fa-plus"></i> Novo
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CPF</th>
            <th>Register Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.cpf }}</td>
            <td>{{ customer.registerDate }}</td>
            <td>
              <button class="btn btn-primary" routerLink="/customer/form/{{customer.id}}">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"
                (click)="prepareDeletion (customer)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmation</h4>
        </div>

        <div class="modal-body" *ngIf="selectedCustomer">
          Confirm the Customer's deletion {{selectedCustomer.name}}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deleteCustomer()" data-dismiss="modal">Confirm</button>
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
