<h1 class="mt-4">Service Provided</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrum-bitem active">New</li>
</ol>
<div class="conatiner">
  <form #form="ngForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Customer updated successfully!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label> Customer:</label>
          <select class="form-control"
            [ngModelOptions]="{standalone: true}"
           [(ngModel)]="serviceProvided.idCustomer">
              <option value="">Selection...</option>
              <option *ngFor="let customer of customers" [ngValue]="customer.id">
                {{customer.name}}
              </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            Description:
          </label>
          <input class="form-control" [(ngModel)]="serviceProvided.description" type="text" name="description" id="descriptionInput">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>
            Date:
          </label>
          <input class="form-control" [(ngModel)]="serviceProvided.date" type="text" name="date" id="dateInput">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>
            Price:
          </label>
          <input class="form-control" [(ngModel)]="serviceProvided.price" type="text" name="price" id="priceInput">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i>
          Save
        </button>
        <button type="button" class="btn btn-danger ml-1" routerLink="/app-service-provided-list">
          <i class="fa fa-arrow-alt-circle-left"></i>
          Back
        </button>
      </div>
    </div>
  </form>
</div>
